<h5 class="blog-info x-hidden-focus">Resources</h5>
<div class="all-blogs-list sidebar-links">
    <ul>
        <li><a title="C# Game Engine" href="https://www.stride3d.net" target="_blank" rel="noopener" class="x-hidden-focus">Stride 3D Game Engine</a></li>
        <li><a title="C# Game Engine" href="https://stride3d.github.io/stride-community-toolkit/index.html" target="_blank" rel="noopener" class="x-hidden-focus">Stride Community Toolkit</a></li>
        <li><a title="Microsoft Docs" href="https://learn.microsoft.com/en-us/docs/" target="_blank" rel="noopener" class="x-hidden-focus">Technical documentation</a></li>
        <li><a title="Microsoft Docs" href="https://developer.microsoft.com/en-us/" target="_blank" rel="noopener" class="x-hidden-focus">Microsoft developer</a></li>
    </ul>
</div>