<!doctype html>
<html lang="en" data-bs-theme="dark-v">
{% include _head.html %}
<body>
    {% include _navigation.html %}
    <div class="container">
        {{ content }}
    </div>
    {% include _back-to-top.html %}
    <script src="/assets/scripts/copy-code.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const backToTopButton = document.querySelector("div.back-comment-buttons");

            if (!backToTopButton) return;

            window.addEventListener("scroll", function () {
                if (window.scrollY > window.innerHeight) {
                    backToTopButton.style.display = "flex";
                } else {
                    backToTopButton.style.display = "none";
                }
            });

            backToTopButton.addEventListener("click", function (event) {
                event.preventDefault();
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
        });
    </script>
</body>
</html>