<configuration>
    <configSections>
        <!-- Intentionally kept empty for transformations -->
    </configSections>
    <system.webServer>
        <staticContent>
            <remove fileExtension="woff" />
            <remove fileExtension="woff2" />
            <mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="404\index.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
